body {
font-family: 'Montserrat', sans-serif;
margin:0 auto;
text-align: center;
color: #373737;
}
.header-wrapper{
padding: 25px 0 25px;
}
.menu-list-item {
display: inline-block;
letter-spacing: 2.7px;
text-transform: uppercase;
margin-right: 70px;  
}
.menu-list-item.item-list{
margin-right: 50px;
}
.menu-list-item a{
color: #FF0000;
text-decoration: none;
font-weight: 700;
font-size: 18px;
line-height: 18px;
}
.image-container{ 
width: 100%;
}
.container{
max-width: 1145px;
margin-left: auto;
margin-right: auto;
}
.container-title{
margin-top: 49px;
margin-bottom: 0;
letter-spacing: 3.3px;
text-transform: uppercase;
font-weight: 700;
font-size: 22px;
line-height: 27px;
}
.container-text{
margin:38px 67.5px 0;
font-size: 16px;
letter-spacing: 2.4px;
line-height: 26px;
font-weight: 400;
}
.container-text.text{
margin-top: 28px;
}

.link-text {
display: inline-block;
background: #FF0000;
border-radius: 4px;
padding: 18px 43px;
margin-top: 66px;
margin-bottom: 42px;
letter-spacing: 1.8px;
text-transform: uppercase;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
text-decoration: none;
font-weight: 700;
}
.footer {
padding: 40px 105px 29px 0;
text-align: right;
}
.footer-text {
letter-spacing: 2.4px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
}



